.popular{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 90vh;
    margin-top: 20px;
    
}

.popular hl{
    color:#ffffff;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background :#ffffff
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
