.cartitem{
    display: flex;
    justify-content:left;
    align-items: center;
    border: 1px solid rgb(219, 219, 219);
    width: 800px;
    border-radius: 5px;
    position: relative;
}
.cartitem-img{
    height: 200px;
    width: 166px;
}
.cartitem-img img{
    height: 200px;
    width: 166px;
}
.cartitem-content{
    margin-left: 10px;
}
.cartitem-content h6{
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 25px;
}
.brand-name,.item-name,.item-price{
    margin-left: 25px;
}
.item-price{
    display: flex;
}
.brand-name{
    font-family: "Kanit", sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
}
.item-name{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-top: -18px;
}
.item-price{
    margin-top: -12px;
}
.item-price-new{
    display: flex;
    font-weight: 700;
    font-size: 16px;
}
.item-price-old {
    display: flex;
    font-size: 13px;
    text-decoration: line-through;
    /* margin-bottom: -4px; */
    margin-left: 5px;
}
.discount{
    color: rgb(240, 57, 57);
    display: flex;
    font-size: 13px;
    margin-left: 5px;
}
.item:hover{
    border: 1px solid rgba(107, 106, 106, 0.5);
    box-shadow: 5px 5px 3px 0 rgba(107, 106, 106, 0.5);
}
.delivery-details1,.delivery-details2{
    margin-left: 25px;
    font-size: 15px;
}
.delivery-details1{
    margin-top: -10px;
}
.delivery-details2{
    margin-top: -13px;
}
.cross{
    position:absolute;
    top: 0px;
    left: 94%;
}
.cross button{
    border: 1px solid white;
    background-color: white;
}